:root{
  --radius-value:50px;
  --input-section-border-thiknes:calc(8px/2);
  --main-color:rgb(19, 92, 22);
}

body{
  font-family:Impact;
}

h1{
  letter-spacing: 3px;
  font-size: 3rem;
}

p{
  margin: 0;
}

.mainSection{
  text-align: center;
  margin-bottom: 3rem;
}

.inputField, .deployButton{
  padding: 15px 30px;
  border: none;
}

.inputField{
  box-shadow:inset 0px 0px 0px 3px rgb(184, 184, 184);
  border-top-left-radius: var(--radius-value);
  border-bottom-left-radius: var(--radius-value);
}

.deployButton{
  font-weight: bolder;
  letter-spacing: 3px;
  background-color: rgb(102, 194, 255);
  border-top-right-radius: var(--radius-value);
  border-bottom-right-radius: var(--radius-value);
}

.deployedTimers{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.timerSection{
  width: 300px;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom: rgb(184, 184, 184) solid 2px;
}

.timerSecMinHour{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}

.btn{
  margin: 1rem;
  color: white;
  border:none;
  border-radius: 25px;
  padding: 13px 25px;
}

.btnPlay, .pauseBtn{
  background-color: rgb(102, 194, 255);
}

.btnReset{
  background-color: rgb(255, 204, 0);
}

.btnClose{
  background-color: crimson;
}

.btnPlay:hover, .pauseBtn:hover, .deployButton:hover{
  transition: 0.5s;
  background-color: rgb(0, 153, 255);
}

.btnClose:hover{
  transition: 0.5s;
  background-color: rgb(153, 0, 0);
}

.btnReset:hover{
  transition: 0.5s;
  background-color: rgb(230, 153, 0);
}