:root{
  --radius-value:50px;
  --input-section-border-thiknes:calc(8px/2);
  --main-color:rgb(19, 92, 22);
}

body{
  font-family:Impact;
}

h1{
  letter-spacing: 3px;
  font-size: 3rem;
}

.mainSection{
  border:blueviolet dotted 10px;
  margin:0.5rem;
}

.inputSection{
  border:rgb(26, 158, 70) dotted 10px;
  margin:0.5rem;
}

.inputField, .deployButton{
  border:rgb(167, 69, 30) dotted 10px;
  margin:0.5rem;
}

